/* Estilos básicos - Go Live Server */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
    background-color: #a40505;
}

h1 {
    color: #6411df;
    border-bottom: 2px solid #f116ee;
    padding-bottom: 10px;
}